.fondo{
	width: 100%;
	height: 100%;

}
.centrar{
	width: 280px;
	height: 181px;
	position: relative;
	top: 28%;
	left: 4%;
	right: 0;
	bottom: 0;
}

.mini{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.mi{
	width: 318px;
	height: 333px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.ni{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 450px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
}

.in{
	width: 2205px;
	height: 356px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.fodo{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}
.centra{
	width: 280px;
	height: 181px;
	position: relative;
	top: 28%;
	left: 4%;
	right: 0;
	bottom: 0;

}
.cen{
	width: 280px;
	height: 181px;
	position: relative;
	top: 28%;
	left: 4%;
	right: 0;
	bottom: 0;
}
.di{
	width: 325px;
	height: 172px;
	position: absolute;
	top: -45%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.si{
	width: 316px;
	height: 278px;
	position: absolute;
	top: 49%;
	left: 0%;
	right: 0%;
	bottom: 0;
	margin: auto;
}
.fa{
	width: 319px;
	height: 261px;
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}